/* styles.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

button {
  margin: 16px;
}

main {
  padding: 16px;
  transition: margin-left 0.3s ease; 
}

.MuiAppBar-root {
  background-color: #1976d2; 
}

.MuiDrawer-paper {
  background-color: #1976d2; 
  color: white; 
}


@media (max-width: 900px) {
  main {
    margin-left: 0;
  }
}
